<app-loader [loading]="isLoading"></app-loader>

<div class="container">
    <div class="row">
        <div class="align-header">
            <h2>{{ invoice.id ? 'Update Invoice' : 'Add Invoice' }}</h2>
        </div>
    </div>

    <div class="input-text">
        <mat-form-field class="small" appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input matInput placeholder="Customer Name" [(ngModel)]="invoice.customerName" name="customerName">
        </mat-form-field>

        <mat-form-field class="small" appearance="outline">
            <mat-label>Issue Date</mat-label>
            <input matInput type="date" [(ngModel)]="invoice.issueDate" name="issueDate">
        </mat-form-field>

        <mat-form-field class="small" appearance="outline">
            <mat-label>Due Date</mat-label>
            <input matInput type="date" [(ngModel)]="invoice.dueDate" name="dueDate">
        </mat-form-field>

        <mat-form-field class="small" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" [(ngModel)]="invoice.description"
                name="description"></textarea>
        </mat-form-field>

        <mat-form-field class="small" appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Price" [(ngModel)]="invoice.price" name="price">
        </mat-form-field>

        <mat-form-field class="small" appearance="outline">
            <mat-label>Total</mat-label>
            <input matInput type="number" placeholder="Total" [(ngModel)]="invoice.total" name="total">
        </mat-form-field>
    </div>

    <div class="input-text"> <button mat-flat-button color="primary" class="button-width" (click)="createInvoice()"> Create</button> <button mat-flat-button color="primary"
            class="button-width" (click)="closeModal()"> Cancel</button> </div>
</div>